In [1]:
import pandas as pd
import pandera as pa

In [2]:
## fazer carregamento do arquivo csv. Pandas ira retonar um Dataframe
valores_ausentes = ['***', '###!', '####', '****', '*****', 'NULL']
df = pd.read_csv("ocorrencia3.csv", sep=",", infer_datetime_format=True, parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,80436,80436,80436,80436,80436,INCIDENTE,PALMAS,TO,SBPJ,2021-12-09,22:10:00,SIM,FINALIZADA,0,1,NÃO
1,53472,53472,53472,53472,53472,ACIDENTE,COLINAS DO TOCANTINS,TO,NaN,2015-07-28,21:05:00,NaN,NaN,0,1,NÃO
2,78800,78800,78800,78800,78800,ACIDENTE,PALMAS,TO,SDNB,2017-08-20,20:30:00,SIM,FINALIZADA,0,1,NÃO
3,79690,79690,79690,79690,79690,INCIDENTE GRAVE,PORTO NACIONAL,TO,SWEJ,2020-11-24,20:00:00,SIM,FINALIZADA,0,1,NÃO
4,50531,50531,50531,50531,50531,INCIDENTE,GURUPI,TO,NaN,2013-12-08,20:00:00,NaN,FINALIZADA,0,1,NÃO
5,79636,79636,79636,79636,79636,ACIDENTE,PALMAS,TO,NaN,2020-10-29,20:00:00,SIM,ATIVA,0,1,NÃO
6,53233,53233,53233,53233,53233,INCIDENTE GRAVE,PALMAS,TO,SBPJ,2015-04-15,19:31:00,SIM,FINALIZADA,0,1,SIM
7,45731,45731,45731,45731,45731,ACIDENTE,PALMAS,TO,NaN,2012-03-31,19:21:00,SIM,FINALIZADA,0,1,NÃO
8,50952,50952,50952,50952,50952,ACIDENTE,ARAGUAÍNA,TO,SWGN,2014-02-19,19:21:00,NaN,FINALIZADA,0,1,NÃO
9,60881,60881,60881,60881,60881,ACIDENTE,CRISTALÂNDIA,TO,NaN,2016-03-13,19:00:00,SIM,FINALIZADA,0,1,SIM

In [6]:
# implementando um schema para o dataframe
schema = pa.DataFrameSchema(
    columns = {
        "codigo": pa.Column(pa.Int, required=False),
        "codigo_ocorrencia":pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2)),
        "ocorrencia_aerodromo": pa.Column(pa.String, nullable=True),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        # utilizando expressão regular (reg expressions) para validar dados da coluna ocorrencia_hora:
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)
    }
)

In [7]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,80436,80436,80436,80436,80436,INCIDENTE,PALMAS,TO,SBPJ,2021-12-09,22:10:00,SIM,FINALIZADA,0,1,NÃO
1,53472,53472,53472,53472,53472,ACIDENTE,COLINAS DO TOCANTINS,TO,NaN,2015-07-28,21:05:00,NaN,NaN,0,1,NÃO
2,78800,78800,78800,78800,78800,ACIDENTE,PALMAS,TO,SDNB,2017-08-20,20:30:00,SIM,FINALIZADA,0,1,NÃO
3,79690,79690,79690,79690,79690,INCIDENTE GRAVE,PORTO NACIONAL,TO,SWEJ,2020-11-24,20:00:00,SIM,FINALIZADA,0,1,NÃO
4,50531,50531,50531,50531,50531,INCIDENTE,GURUPI,TO,NaN,2013-12-08,20:00:00,NaN,FINALIZADA,0,1,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5161,78864,78864,78864,78864,78864,INCIDENTE,RIO BRANCO,AC,NaN,2019-07-05,13:10:00,SIM,FINALIZADA,0,1,NÃO
5162,50916,50916,50916,50916,50916,INCIDENTE GRAVE,RIO BRANCO,AC,NaN,2014-03-06,13:00:00,SIM,FINALIZADA,1,1,NÃO
5163,78948,78948,78948,78948,78948,INCIDENTE GRAVE,MARECHAL THAUMATURGO,AC,NaN,2019-09-25,17:25:00,SIM,FINALIZADA,0,1,NÃO
5164,49474,49474,49474,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,**,NaN,2013-09-02,02:54:00,SIM,FINALIZADA,0,1,NÃO
5165,79956,79956,79956,79956,79956,ACIDENTE,NÃO IDENTIFICADA,**,NaN,2021-02-26,11:00:00,NÃO,ATIVA,0,1,NÃO

In [9]:
df.dtypes

codigo_ocorrencia                          int64
codigo_ocorrencia1                         int64
codigo_ocorrencia2                         int64
codigo_ocorrencia3                         int64
codigo_ocorrencia4                         int64
ocorrencia_classificacao                  object
ocorrencia_cidade                         object
ocorrencia_uf                             object
ocorrencia_aerodromo                      object
ocorrencia_dia                    datetime64[ns]
ocorrencia_hora                           object
investigacao_aeronave_liberada            object
investigacao_status                       object
total_recomendacoes                        int64
total_aeronaves_envolvidas                 int64
ocorrencia_saida_pista                    object
dtype: object

In [10]:
df.loc[1]

codigo_ocorrencia                                53472
codigo_ocorrencia1                               53472
codigo_ocorrencia2                               53472
codigo_ocorrencia3                               53472
codigo_ocorrencia4                               53472
ocorrencia_classificacao                      ACIDENTE
ocorrencia_cidade                 COLINAS DO TOCANTINS
ocorrencia_uf                                       TO
ocorrencia_aerodromo                               NaN
ocorrencia_dia                     2015-07-28 00:00:00
ocorrencia_hora                               21:05:00
investigacao_aeronave_liberada                     NaN
investigacao_status                                NaN
total_recomendacoes                                  0
total_aeronaves_envolvidas                           1
ocorrencia_saida_pista                             NÃO
Name: 1, dtype: object

In [19]:
df.iloc[10:15] # buscando pelo indice

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
10,80448,80448,80448,80448,80448,INCIDENTE GRAVE,FORMOSO DO ARAGUAIA,TO,NaN,2021-12-18,19:00:00,SIM,FINALIZADA,0,1,SIM
11,49118,49118,49118,49118,49118,ACIDENTE,PIUM,TO,NaN,2013-07-25,18:50:00,SIM,FINALIZADA,0,1,NÃO
12,45579,45579,45579,45579,45579,ACIDENTE,CAMPOS LINDOS,TO,NaN,2012-01-28,18:35:00,SIM,FINALIZADA,0,1,NÃO
13,79757,79757,79757,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,NaN,2020-12-30,18:30:00,SIM,FINALIZADA,0,1,NÃO
14,80419,80419,80419,80419,80419,ACIDENTE,LAGOA DA CONFUSÃO,TO,NaN,2021-12-05,17:55:00,SIM,ATIVA,0,1,NÃO

In [20]:
df.loc[15:20] # buscando pelo label

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
15,53634,53634,53634,53634,53634,INCIDENTE,PALMAS,TO,SBPJ,2015-12-02,17:45:00,NaN,FINALIZADA,0,1,NÃO
16,51031,51031,51031,51031,51031,INCIDENTE GRAVE,MIRANORTE,TO,NaN,2014-04-09,17:30:00,NaN,FINALIZADA,0,1,NÃO
17,46625,46625,46625,46625,46625,INCIDENTE,PALMAS,TO,SBPJ,2012-10-21,16:40:00,NaN,FINALIZADA,0,1,NÃO
18,60601,60601,60601,60601,60601,INCIDENTE,PALMAS,TO,SBPJ,2015-12-01,16:05:00,NaN,FINALIZADA,0,1,NÃO
19,79019,79019,79019,79019,79019,INCIDENTE,PALMAS,TO,SBPJ,2019-11-27,14:20:00,NaN,FINALIZADA,0,1,NÃO
20,79094,79094,79094,79094,79094,INCIDENTE,PALMAS,TO,SBPJ,2020-02-01,14:00:00,SIM,FINALIZADA,0,1,NÃO

In [21]:
df.loc[:, 'ocorrencia_aerodromo'] # extraindo dados de uma coluna

0       SBPJ
1        NaN
2       SDNB
3       SWEJ
4        NaN
        ...
5161     NaN
5162     NaN
5163     NaN
5164     NaN
5165     NaN
Name: ocorrencia_aerodromo, Length: 5166, dtype: object

In [22]:
df['ocorrencia_classificacao']

0             INCIDENTE
1              ACIDENTE
2              ACIDENTE
3       INCIDENTE GRAVE
4             INCIDENTE
             ...
5161          INCIDENTE
5162    INCIDENTE GRAVE
5163    INCIDENTE GRAVE
5164           ACIDENTE
5165           ACIDENTE
Name: ocorrencia_classificacao, Length: 5166, dtype: object

In [24]:
df.isnull().sum()

codigo_ocorrencia                    0
codigo_ocorrencia1                   0
codigo_ocorrencia2                   0
codigo_ocorrencia3                   0
codigo_ocorrencia4                   0
ocorrencia_classificacao             0
ocorrencia_cidade                    0
ocorrencia_uf                        0
ocorrencia_aerodromo              1904
ocorrencia_dia                       0
ocorrencia_hora                      0
investigacao_aeronave_liberada    1777
investigacao_status                257
total_recomendacoes                  0
total_aeronaves_envolvidas           0
ocorrencia_saida_pista               0
dtype: int64

In [26]:
# localizando dados aonde o aerodromo possui valor nulo
filtro = df.ocorrencia_aerodromo.isnull()
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
1,53472,53472,53472,53472,53472,ACIDENTE,COLINAS DO TOCANTINS,TO,NaN,2015-07-28,21:05:00,NaN,NaN,0,1,NÃO
4,50531,50531,50531,50531,50531,INCIDENTE,GURUPI,TO,NaN,2013-12-08,20:00:00,NaN,FINALIZADA,0,1,NÃO
5,79636,79636,79636,79636,79636,ACIDENTE,PALMAS,TO,NaN,2020-10-29,20:00:00,SIM,ATIVA,0,1,NÃO
7,45731,45731,45731,45731,45731,ACIDENTE,PALMAS,TO,NaN,2012-03-31,19:21:00,SIM,FINALIZADA,0,1,NÃO
9,60881,60881,60881,60881,60881,ACIDENTE,CRISTALÂNDIA,TO,NaN,2016-03-13,19:00:00,SIM,FINALIZADA,0,1,SIM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5161,78864,78864,78864,78864,78864,INCIDENTE,RIO BRANCO,AC,NaN,2019-07-05,13:10:00,SIM,FINALIZADA,0,1,NÃO
5162,50916,50916,50916,50916,50916,INCIDENTE GRAVE,RIO BRANCO,AC,NaN,2014-03-06,13:00:00,SIM,FINALIZADA,1,1,NÃO
5163,78948,78948,78948,78948,78948,INCIDENTE GRAVE,MARECHAL THAUMATURGO,AC,NaN,2019-09-25,17:25:00,SIM,FINALIZADA,0,1,NÃO
5164,49474,49474,49474,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,**,NaN,2013-09-02,02:54:00,SIM,FINALIZADA,0,1,NÃO
5165,79956,79956,79956,79956,79956,ACIDENTE,NÃO IDENTIFICADA,**,NaN,2021-02-26,11:00:00,NÃO,ATIVA,0,1,NÃO

In [27]:
df.count() # somatorio de valores não-nulos em cada coluna

codigo_ocorrencia                 5166
codigo_ocorrencia1                5166
codigo_ocorrencia2                5166
codigo_ocorrencia3                5166
codigo_ocorrencia4                5166
ocorrencia_classificacao          5166
ocorrencia_cidade                 5166
ocorrencia_uf                     5166
ocorrencia_aerodromo              3262
ocorrencia_dia                    5166
ocorrencia_hora                   5166
investigacao_aeronave_liberada    3389
investigacao_status               4909
total_recomendacoes               5166
total_aeronaves_envolvidas        5166
ocorrencia_saida_pista            5166
dtype: int64

In [31]:
# ocorrencias com mais de 10 recomendações
filtro = df.total_recomendacoes > 10
df.loc[filtro, ['ocorrencia_cidade', 'total_recomendacoes']]

     ocorrencia_cidade  total_recomendacoes
966             SANTOS                   13
4462           VITÓRIA                   12
4525          BRASÍLIA                   11

In [48]:
# ocorrencias que foram classificadas como acidente ou incidente grave no estado da Bahia
filtro1 = (df.ocorrencia_classificacao == 'ACIDENTE') | (df.ocorrencia_classificacao == 'INCIDENTE GRAVE') 
filtro2 = df.ocorrencia_uf == 'BA' 
df.loc[filtro1 & filtro2, ['ocorrencia_uf', 'ocorrencia_cidade', 'ocorrencia_classificacao', 'total_aeronaves_envolvidas', 'ocorrencia_saida_pista']]

,ocorrencia_uf,ocorrencia_cidade,ocorrencia_classificacao,total_aeronaves_envolvidas,ocorrencia_saida_pista
4687,BA,SÃO DESIDÉRIO,ACIDENTE,1,NÃO
4690,BA,CARAVELAS,ACIDENTE,1,SIM
4692,BA,SALVADOR,INCIDENTE GRAVE,1,NÃO
4696,BA,SALVADOR,INCIDENTE GRAVE,1,NÃO
4699,BA,RIACHÃO DAS NEVES,INCIDENTE GRAVE,1,NÃO
...,...,...,...,...,...
4859,BA,SÃO DESIDÉRIO,ACIDENTE,1,NÃO
4860,BA,COTEGIPE,ACIDENTE,1,NÃO
4864,BA,SALVADOR,INCIDENTE GRAVE,1,NÃO
4866,BA,SALVADOR,INCIDENTE GRAVE,2,NÃO
4867,BA,SALVADOR,INCIDENTE GRAVE,1,SIM

In [41]:
# ocorrencias de acidente na cidade de Salvador 
filtro1 = df.ocorrencia_classificacao == 'ACIDENTE' 
filtro2 = df.ocorrencia_cidade == 'SALVADOR' 
df.loc[filtro & filtro2, ['ocorrencia_cidade', 'ocorrencia_classificacao', 'total_aeronaves_envolvidas', 'ocorrencia_saida_pista']]

,ocorrencia_cidade,ocorrencia_classificacao,total_aeronaves_envolvidas,ocorrencia_saida_pista
4803,SALVADOR,ACIDENTE,1,NÃO

In [51]:
# Ocorrencias de incidentes ou incidentes graves ocorridos no estado de Sergipe
filtro = df.ocorrencia_classificacao.isin(['INCIDENTE', 'INCIDENTE GRAVE'])
filtro2 = df.ocorrencia_uf == 'SE'
df.loc[filtro & filtro2, ['ocorrencia_cidade', 'ocorrencia_classificacao', 'total_aeronaves_envolvidas', 'ocorrencia_saida_pista']]

,ocorrencia_cidade,ocorrencia_classificacao,total_aeronaves_envolvidas,ocorrencia_saida_pista
1308,ARACAJU,INCIDENTE,1,NÃO
1310,ARACAJU,INCIDENTE,1,NÃO
1312,ESTÂNCIA,INCIDENTE GRAVE,1,NÃO
1315,ARACAJU,INCIDENTE,1,NÃO
1316,ARACAJU,INCIDENTE,1,NÃO
1317,ITAPORANGA D'AJUDA,INCIDENTE GRAVE,1,NÃO
1320,ARACAJU,INCIDENTE,1,NÃO

In [53]:
# ocorrências cuja cidade comecem com a letra C
filtro = df.ocorrencia_cidade.str[0] == 'C'
df.loc[filtro, ['ocorrencia_cidade', 'ocorrencia_uf']]

         ocorrencia_cidade ocorrencia_uf
1     COLINAS DO TOCANTINS            TO
9             CRISTALÂNDIA            TO
12           CAMPOS LINDOS            TO
47                CAMPINAS            SP
49                CAMPINAS            SP
...                    ...           ...
5130       CRUZEIRO DO SUL            AC
5135       CRUZEIRO DO SUL            AC
5137       CRUZEIRO DO SUL            AC
5140       CRUZEIRO DO SUL            AC
5149       CRUZEIRO DO SUL            AC

[770 rows x 2 columns]

In [55]:
# ocorrencias ocorridas em dezembro de 2021
filtro = df.ocorrencia_dia.dt.year == 2021
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,80436,80436,80436,80436,80436,INCIDENTE,PALMAS,TO,SBPJ,2021-12-09,22:10:00,SIM,FINALIZADA,0,1,NÃO
10,80448,80448,80448,80448,80448,INCIDENTE GRAVE,FORMOSO DO ARAGUAIA,TO,NaN,2021-12-18,19:00:00,SIM,FINALIZADA,0,1,SIM
14,80419,80419,80419,80419,80419,ACIDENTE,LAGOA DA CONFUSÃO,TO,NaN,2021-12-05,17:55:00,SIM,ATIVA,0,1,NÃO
30,80383,80383,80383,80383,80383,ACIDENTE,LAGOA DA CONFUSÃO,TO,NaN,2021-11-11,12:40:00,SIM,ATIVA,0,1,NÃO
39,79840,79840,79840,79840,79840,ACIDENTE,PORTO NACIONAL,TO,NaN,2021-01-24,10:30:00,SIM,ATIVA,0,1,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5117,80165,80165,80165,80165,80165,INCIDENTE,RIO BRANCO,AC,SBRB,2021-07-07,11:32:00,SIM,FINALIZADA,0,1,NÃO
5129,80032,80032,80032,80032,80032,INCIDENTE GRAVE,SANTA ROSA DO PURUS,AC,SSRA,2021-04-13,17:15:00,SIM,FINALIZADA,0,1,SIM
5138,80136,80136,80136,80136,80136,INCIDENTE,RIO BRANCO,AC,SBRB,2021-06-21,14:02:00,SIM,FINALIZADA,0,1,NÃO
5148,80207,80207,80207,80207,80207,INCIDENTE,RIO BRANCO,AC,SBRB,2021-07-26,16:17:00,SIM,FINALIZADA,0,1,NÃO
5165,79956,79956,79956,79956,79956,ACIDENTE,NÃO IDENTIFICADA,**,NaN,2021-02-26,11:00:00,NÃO,ATIVA,0,1,NÃO